.edit_post {
    text-align: center;
}

.edit_post h2 {
    font-size: 2.2em;
}

.edit_post p {
    color: #aaa;
    margin-bottom: 2em;
}

.edit_post .preview_title {
    margin-bottom: 0.2em;
    color: #000;
    font-weight: bold;
}

.image_preview {
    /* auterado 22/11/2023 18:20 hs */
    width: 650px;
    height: 500px;
    margin-bottom: 1em;
    border: 5px solid blue;
}

