.post_container {
    text-align: center;
}

.post_container h3 {
    margin-bottom: .2em;
    
}

.post_container .tags {
    display: flex;
    justify-content: center;
    
}

.tags p {
    margin-right: 1em;
    
}

.tags span {
    font-weight: bold;
}

.post_container img {
    /* auterado 22/11/2023 18:20 hs */
    width: 900px;
    height: 700px;
    border: 5px solid red;
}

